.explication {
  text-align: center;
  font-weight: 200;
}

h1{
  text-align: center;
  color: #FF4633;
}
.img-fluid {
  margin-left: 15px;
  height: 30vh;
}
.carousel {
  .carousel-inner {
    height: 100%;

    .carousel-item {
      height: 100%;
    }
  }

  .carousel-item img {
    height: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: lightgray;
  color: #FF4633;
  padding: 3rem 0;

  .container-fluid {
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }

  .bi-instagram {
    margin-right: 20px;
    margin-bottom: 20px;
  }

}

@media screen and (min-width: 1024px){
  .img-fluid {
    margin-left: 45px;
    height: 90vh;
  }
}

@media screen and (min-width: 768px) {
  .img-fluid {
    margin-left: 45px;
    height: 60vh;
  }
}

@media screen and (min-width: 1430px) {
  .img-fluid {
    float: left;
    width: 50%;
    height: 40vh;
    margin-bottom: 10px;
  }
  .carousel .carousel-inner {
    height: 50em;
  }
  .customers {
    display: flex;
    justify-content: left;
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 10%;
    height: 10%;
  }
  .magic {
    display: flex;
    align-content: space-between;
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 10%;
    height: 10%;
  }
}